[Unit]
Description=Monitors specified directory and removes any EXIF data
After=network.target

[Service]
Type-simple
ExecStart=/usr/local/bin/monitor_exif.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
~                           
